on: [ push, pull_request ]
name: "Tests"

jobs:
    php-tests:
        name: "Run codeception tests"
        runs-on: "ubuntu-latest"
        continue-on-error: ${{ matrix.allow-fail }}
        env:
            PHP_CS_FIXER_IGNORE_ENV: true
        strategy:
            matrix:
                include:
                    - { php-version: 8.3, dependencies: locked, coverage: pcov, with_coverage: true, allow-fail: false }
                    - { php-version: 8.3, dependencies: highest, coverage: pcov, with_coverage: false, allow-fail: false }

                    - { php-version: 8.4, dependencies: locked, coverage: pcov, with_coverage: false, allow-fail: true }
                    - { php-version: 8.4, dependencies: highest, coverage: pcov, with_coverage: false, allow-fail: true }
        steps:
            -   name: "Checkout"
                uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1

            -   name: "Install PHP"
                uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # 2.36.0
                with:
                    coverage: "${{ matrix.coverage }}"
                    ini-values: display_errors=On, display_startup_errors=On, error_reporting=32767
                    php-version: "${{ matrix.php-version }}"

            -   name: "Set up problem matchers for PHP"
                run: "echo \"::add-matcher::${{ runner.tool_cache }}/php.json\""

            -   name: "Set up problem matchers for phpunit/phpunit"
                run: "echo \"::add-matcher::${{ runner.tool_cache }}/phpunit.json\""

            -   name: "Validate composer.json and composer.lock"
                run: "composer validate --ansi --strict"

            -   name: "Determine composer cache directory"
                uses: "ergebnis/.github/actions/composer/determine-cache-directory@4103ff7c010d2c18dc84f72d6704227868412482" # 1.10.0

            -   name: "Cache dependencies installed with composer"
                uses: "actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb" # v5.0.1
                with:
                    path: "${{ env.COMPOSER_CACHE_DIR }}"
                    key: "php-${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-${{ hashFiles('composer.lock') }}"
                    restore-keys: "php-${{ matrix.php-version }}-composer-${{ matrix.dependencies }}-"

            -   name: "Install ${{ matrix.dependencies }} dependencies with composer"
                uses: "ergebnis/.github/actions/composer/install@4103ff7c010d2c18dc84f72d6704227868412482" # 1.10.0
                with:
                    dependencies: "${{ matrix.dependencies }}"

            -   name: "Run Tests"
                run: |
                    vendor/bin/codecept build -c .
                    vendor/bin/codecept run -c . -vvv --coverage --coverage-xml=coverage.xml --xml
